@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the Google Translate widget */
.goog-te-gadget {
  display: none !important;
}

/* Optional: Remove extra space caused by the banner */
body {
  top: 0px !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

tr:last-child {
  border-bottom: none;
}

tr:first-child td {
  border-top: 1px dashed #e4e4e4;
}
